@use 'sass:color';

@font-face {
	font-family: 'Supply Mono';
	src: url(/fonts/PPSupplyMono-Ultralight.otf) format('opentype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Supply Mono';
	src: url(/fonts/PPSupplyMono-Regular.otf) format('opentype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

html,
body {
	background-color: $black;
	color: $white;
	font-family: 'Supply Mono', monospace;
	font-size: 14px;

	font-weight: 400;

	@media only screen and (min-width: 760px) {
		font-size: 16px;
	}

	&:before {
		@include scanlines();
	}
}

.app {
	height: calc(100vh);
	display: grid;
	padding: $space-md;
	overflow: auto;

	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr;
	gap: $space-md $space-md;
	grid-template-areas:
		'header'
		'nav'
		'main';

	@media only screen and (min-width: 760px) {
		grid-template-columns: minmax(10%, max-content) 1fr;
		grid-template-rows: min-content 1fr;
		gap: $space-md $space-md;
		grid-template-areas:
			'header header'
			'nav main';
	}
}

::selection {
	color: $black;
	background: $green;
}

h1:not(header *),
h2,
h3,
h4,
h5,
h6 {
	color: $yellow;
	margin-top: $space-md;
	margin-bottom: $space-sm;

	&:first-child {
		margin-top: 0;
	}
}

h1:not(header *) {
	&::before {
		content: '>_ # ';
	}
}

h2 {
	&::before {
		content: '>_ ## ';
	}
}

h3 {
	&::before {
		content: '>_ ### ';
	}
}

h4 {
	&::before {
		content: '>_ #### ';
	}
}

h5 {
	&::before {
		content: '>_ ##### ';
	}
}

h6 {
	&::before {
		content: '>_ ###### ';
	}
}

section {
	margin-top: $space-lg;
	margin-bottom: $space-lg;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	line-height: 1.4em;
	margin-top: $space-sm;
	margin-bottom: $space-sm;

	&::before {
		content: '>_ ';
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $green;
	text-decoration: none;
	border-bottom: 1px dashed rgba($green, 1);

	&:hover {
		background-color: $red;
		color: $white;
		border-bottom: none;
	}
}

table {
	border-collapse: separate;
	border-spacing: $space-sm;
	text-align: left;
	word-break: break-all;

	th,
	td {
		padding: $space-sm;
	}

	th {
		@include corners();
		border: $border;
		color: $green;
		vertical-align: middle;
	}

	td {
		border: $border;
	}

	tr {
		&:hover {
			color: $green;
			td {
				@include corners();
			}
		}
	}
}

.italic {
	font-style: italic;
}
