@font-face {
	font-family: 'Supply Mono';
	src: url(/fonts/PPSupplyMono-Ultralight.otf) format('opentype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Supply Mono';
	src: url(/fonts/PPSupplyMono-Regular.otf) format('opentype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

html,
body {
	background-color: $dark;
	color: $light;
	font-family: 'Supply Mono', monospace;
	font-size: 16px;

	&:before {
		background: repeating-linear-gradient(
			0deg,
			rgba($terminal, 0.15),
			rgba($terminal, 0.15) 1px,
			transparent 1px,
			transparent 2px
		);
		content: '';
		height: 100vh;
		width: 100vw;
		pointer-events: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
}

ul {
	li {
		margin-top: $space-sm;

		&:first-of-type {
			margin-top: 0;
		}

		&::before {
			content: '↳ ';
		}
	}
}

section {
	margin-top: $space-lg;
	margin-bottom: $space-lg;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-top: $space-sm;
	margin-bottom: $space-sm;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-top: 0;
	}
}

a {
	color: $accent;
	text-decoration: none;

	&:hover {
		background-color: $accent;
		color: $light;
	}
}

table {
	border-collapse: collapse;
	border-bottom: 1px solid $terminal;
	text-align: left;

	th {
		color: $terminal;
		padding: $space-sm;
		border: 1px solid $terminal;
	}
	td {
		border-left: 1px solid $terminal;
		border-right: 1px solid $terminal;
		padding: $space-sm;
	}
}

.app {
	display: flex;
	flex-direction: column;
	margin: $space-md;
	padding: $space-lg 0;
	height: calc(100vh - 2 * $space-md);
	overflow: scroll;

	background:
		linear-gradient(to right, $terminal 1px, transparent 1px) 0 0,
		linear-gradient(to right, $terminal 1px, transparent 1px) 0 100%,
		linear-gradient(to left, $terminal 1px, transparent 1px) 100% 0,
		linear-gradient(to left, $terminal 1px, transparent 1px) 100% 100%,
		linear-gradient(to bottom, $terminal 1px, transparent 1px) 0 0,
		linear-gradient(to bottom, $terminal 1px, transparent 1px) 100% 0,
		linear-gradient(to top, $terminal 1px, transparent 1px) 0 100%,
		linear-gradient(to top, $terminal 1px, transparent 1px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 10px 10px;
}
