$black: #1e162d;
$white: #ffffff;
$red: #ff1c65;
$green: #2fc4b4;
$yellow: #ecc48d;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$border: 0.5px dashed rgba($green, 0.4);

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin scanlines {
	background: repeating-linear-gradient(0deg, rgba($green, 0.15), rgba($green, 0.15) 1px, transparent 1px, transparent 2px);
	content: '';
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

@mixin frame($title) {
	@include corners;
	border: $border;
	position: relative;
	padding: $space-md $space-sm;
}

@mixin corners($size: 10px, $where: all) {
	@if $where == all {
		background:
			linear-gradient(to right, $green 1px, transparent 1px) 0 0,
			linear-gradient(to right, $green 1px, transparent 1px) 0 100%,
			linear-gradient(to left, $green 1px, transparent 1px) 100% 0,
			linear-gradient(to left, $green 1px, transparent 1px) 100% 100%,
			linear-gradient(to bottom, $green 1px, transparent 1px) 0 0,
			linear-gradient(to bottom, $green 1px, transparent 1px) 100% 0,
			linear-gradient(to top, $green 1px, transparent 1px) 0 100%,
			linear-gradient(to top, $green 1px, transparent 1px) 100% 100%;
	} @else if $where == top {
		background:
			linear-gradient(to right, $green 1px, transparent 1px) 0 0,
			linear-gradient(to left, $green 1px, transparent 1px) 100% 0,
			linear-gradient(to bottom, $green 1px, transparent 1px) 0 0,
			linear-gradient(to bottom, $green 1px, transparent 1px) 100% 0;
	}
	background-repeat: no-repeat;
	background-size: $size $size;
}
